@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-black;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

::selection {
  @apply bg-primary-500 text-white;
}

:target::before {
  content: "";
  display: block;
  top: -5rem;
  margin: 5rem 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
}

h2 {
  @apply text-3xl;
  line-height: normal;

  @screen lg {
    @apply text-4xl;
  }
}

h3 {
  @apply text-xl;
}

p {
  @apply mt-3 text-xl;
}

.section-p {
  @apply py-16 px-4;

  @screen md {
    @apply py-24 px-12;
  }

  @screen lg {
    @apply py-32;
  }
}

.margin-top-neg {
  @screen md {
    margin-top: -1.7rem !important;
  }
  @screen lg {
    margin-top: -2.2rem !important;
  }
  @screen xl {
    margin-top: -2.5rem !important;
  }
}

.timeline {
  &::before {
    content: "";
    @apply absolute h-full bg-black w-1 left-0;
    @screen md {
      @apply left-auto;
    }
  }

  .grad-cap {
    transform: rotate(-45deg) translateX(-1px) translateY(-75px);
  }
}
