@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-black;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

::selection {
  @apply bg-primary-500 text-white;
}

:target::before {
  content: "";
  display: block;
  top: -5rem;
  margin: 5rem 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
}

h2 {
  @apply text-3xl;
  line-height: normal;

  @screen lg {
    @apply text-4xl;
  }
}

h3 {
  @apply text-xl;
}

p {
  @apply mt-3 text-xl;
}

.section-p {
  @apply py-16 px-4;

  @screen md {
    @apply py-24 px-12;
  }

  @screen lg {
    @apply py-32;
  }
}

.margin-top-neg {
  @screen md {
    margin-top: -1.7rem !important;
  }
  @screen lg {
    margin-top: -2.2rem !important;
  }
  @screen xl {
    margin-top: -2.5rem !important;
  }
}

.timeline {
  &::before {
    content: "";
    @apply absolute h-full bg-black w-1 left-0;
    @screen md {
      @apply left-auto;
    }
  }

  .grad-cap {
    transform: translateX(-57px) translateY(-53px);
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-8 bg-primary-500 text-white rounded-full transition duration-300 ease-in-out;
  }

  .btn-primary:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .btn-primary:not(:disabled):hover,
  .btn-primary:not(:disabled):focus {
    @apply bg-primary-600;
  }
  .btn-primary:not(:disabled):active {
    @apply bg-primary-700;
  }

  .btn-secondary {
    @apply border-solid border-2 py-2 px-8 border-primary-500 text-primary-500 rounded-full transition duration-300 ease-in-out;
  }

  .btn-secondary:not(:disabled):hover,
  .btn-secondary:not(:disabled):focus {
    @apply border-primary-600 bg-primary-600 text-white;
  }
  .btn-secondary:not(:disabled):active {
    @apply border-primary-700 bg-primary-700 text-white;
  }
}
